a.chu{
    position: relative;
    text-decoration: none;
    font-family: segoe ui;
    color: black;
    font-size: 30px;
}
a.chu:after /*tạo div bên dưới*/{
    content: ''; /*nội dung div*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 8px;
    background-color: yellowgreen;
    transition: 0.3s;
}
a.chu:hover:after{
    width: 100%;
}